<link rel="import" href="polymer.html">
<link rel="import" href="../frontend/bower_components/vaadin-login/src/vaadin-login-form.html">

<dom-module id="login-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
                height: 100%;
            }
        </style>
<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
 <vaadin-login-form id="login-form"></vaadin-login-form>
</div>
</template>

    <script>
        class LoginDesign extends Polymer.Element {
            static get is() {
                return 'login-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(LoginDesign.is, LoginDesign);
    </script>
</dom-module>
